extends: universal-search/addon

ecmaFeatures:
  generators: true

rules:
  func-names: 0
  no-console: 0
  no-nested-ternary: 1
  no-param-reassign: 1
  object-shorthand: 0
  space-before-function-paren: [2, never]
